<article id="post-{{ wp.the_ID }}" {{ wp.post_class }}>
	<div class="media">
		<h3><a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">{{ wp.the_title }}</a></h3>
		{% if wp.has_post_thumbnail %}
			<a class="" href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">
				{{ wp.the_post_thumbnail({0:360,1:240}, {'class':'img-thumbnail img-rounded'}) }}
			</a>
		{% endif %}
		<div class="excerpt">
			{{ wp.the_excerpt }}
		</div>
	</div>
</article>
