<header class="banner" role="banner">
	<div class="row" style="margin-top: 1em; margin-bottom: 1em;">
		<a class="logo col-md-9 col-sm-12 " href="{{ wp.home_url }}" style="">
			{{ wp.get_the_post_thumbnail(4) }}
		</a>

		<div class="col-sm-3">
			<select style="width:100%">
				<option selected="" value="Čeština">Čeština</option>
				<option value="English">English</option>
				<option value="Rusky">Rusky</option>
			</select>

			<div class="social">
				<a href="{{ wp.get_option('social_links_jp')['twitter'] }}">TW</a>
				<a href="{{ wp.get_option('social_links_jp')['linkedin'] }}">IN</a>
				<a href="{{ wp.get_option('social_links_jp')['facebook'] }}">FB</a>
			</div>
		</div>
	</div>
</header>
